<div>tchat</div>

<friendlist></friendlist>

<div> {{ (user | async)?.email }} </div>
<div *ngIf="friend" class="message">
	<div class="receivedMessage">
		<ul>
			<li *ngFor = "let msg of messages | async " >
				<p>{{msg.id}}</p>
				<p>{{msg.content}}</p>
				<p>{{msg.timestamp | date }}</p>
			</li>
		</ul>
	</div>
	
	<form action="#" method="post" class="messageForm">
		<textarea #writeMessage id="writeMessage" class="writeMessage"></textarea>
		<input #sendMessage type="submit" (click) = "save(writeMessage.value)">
	</form>
</div>